html {
    font-family: "Lucida Grande";
    font-size: 10px;
}

body {
    margin-left: 100px;
}

table.stats {
    border-collapse: collapse;
}
table.stats td, table.stats th {
    border: 1px dotted gray;
    margin: 0;
    padding: 5px;
}

#times {
    float: left;
}
#distances, #log {
    float: left;
    padding-left: 75px;
}